{% for chain in chains_list %}
    {% if chain in chains_list %}
<div class="card is-fullwidth mb-5">
	<header class="card-header has-icon-left">
        <i class="fas fa-feather-alt"></i>
	    <p class="chain-card-header-title ml-4 mt-4">Chain added by: {{ chain.author }}</p>
    </header>
    <div class="card-content">
        <p class="author-title">created on {{ chain.created_on }} </p>
        <p class="content-text">
                {{ chain.chain_content }}
        </p>
    </div>
</div>
    {% endif %}
{% endfor %}