{% for chain in chains_list %}
    {% if chain in chains_list %}
<div class="card is-fullwidth mb-5">
	<header class="card-header has-icon-left">
        <i class="fas fa-feather-alt"></i>
	    <p class="card-header-title">Chain added by: {{ chain.author }}</p>
    </header>
    <div class="card-content">
        <p class="author-title">created on {{ chain.created_on }} </p>
        <p class="content-text">
                {{ chain.chain_content }}
        </p>
    </div>
    {% if (session.user == chain.author or session.user == "admin") %}
        <div class="columns is-centered mt-6">
            <div class="column is-2 has-text-centered">
            <span><a href="{{ url_for('edit_chain', chain_id=chain._id, user_id=user_id) }}" class="button is-rounded is-info is-inverted mr-4" aria-label="Edit chain">Edit chain</a>
            </span>
                <div class="button is-rounded is-info is-inverted" data-modal-type="type3" aria-label="Delete">Delete</div>
                {% include 'components/modals/modals.html' %}
            </div>
        </div>
</div>
    {% endif %}
{% endfor %}