<div class="card is-fullwidth">
	<header class="card-header">
	    <p class="card-header-title">Content</p>
    </header>
    <div class="card-content">
        <p class="subtitle">
            Author: {{ content.created_by }}
        </p>
        <p class="summary">
            {{ content.add_content }}
        </p>
        <p class="summary">
            {{ content.created_on }}
        </p>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                <a href="/"></a>
            </span>
        </p>
    </footer>
</div>
