<div class="card is-fullwidth mb-5">
	<header class="card-header has-icon-left">
        <i class="fas fa-feather-alt"></i>
	<p class="card-header-title">{{ story.story_title}} - {{ story.created_on }} </p>
    </header>
    <div class="card-content">
        <p class="author-title">
            {{ story.Author }} on {{ story.created_on }}
        </p>
        <p class="content-text">
            {{ story.story_content | truncate(200) }}
        </p>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    <a href=" {{ url_for('read_story', story_id=story._id) }} ">Read More</a>
                </span>
            </p>
        </footer>
    </div>
</div>