<div class="card is-fullwidth">
	<header class="card-header">
	<p class="card-header-title">{{ story.story_title }}</p>
		<a class="card-header-icon card-toggle">
			<i class="fa fa-angle-down"></i>
        </a>
    </header>
    <div class="card-content is-hidden">
        <p class="subtitle">
            Author: {{ story.Author }}
        </p>
        <p class="summary"> <strong>Summary</strong><br>
            {{ story.story_summary }}
        </p>
        <p class="summary"> <strong>Content</strong><br>
            {{ story.story_content }}
        </p>
        <p class="summary"> <strong>Date created</strong><br>
            {{ story.created_on }}
        </p>
        <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                <a href=" {{ url_for('read_story', story_id=story._id) }} ">Read More</a>
            </span>
        </p>
    </footer>
    </div>
</div>

