<div class="card is-fullwidth">
	<header class="card-header">
	<p class="card-header-title">{{ story.story_title}} - {{ story.created_on }} </p>
		<a class="card-header-icon">
			<i class="fas fa-feather-alt"></i>
        </a>
    </header>
    <div class="card-content">
        <p class="author-title">
            {{ story.Author }} on {{ story.created_on }}
        </p>
        <p class="content-text">
            {{ story.story_content | truncate(200) }}
        </p>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    <a href=" {{ url_for('read_story', story_id=story._id) }} ">Read More</a>
                </span>
            </p>
        </footer>
    </div>
</div>