<div class="card is-fullwidth">
	<header class="card-header">
	<p class="card-header-title">{{ story.story_title }}</p>
    </header>
    <div class="card-content">
        <p class="subtitle">
            Author: {{ story.Author }}
        </p>
        <p class="summary"> <strong>Date created</strong><br>
            {{ story.created_on }}
        </p>
        <p class="summary"> <strong>Summary</strong><br>
            {{ story.story_summary }}
        </p>
        <p class="summary"> <strong>Story Content</strong><br>
            {{ story.story_content }}
        </p>  
        <!-- add_content comes here -->
    </div>
</div>

