<div class="columns has-text-centered">
    <div class="column"><a href="{{ url_for('change_password', user=user) }}" class="button is-rounded is-info is-inverted change-password" id="change-password" aria-label="Change your password">Change Password</a></div>
    <div class="column"><a href="{{ url_for('change_username', user=user) }}" class="button is-rounded is-info is-inverted change-username" id="change-username" aria-label="Change your username">Change Username</a></div>
    <div class="column"><a href="{{ url_for('delete_account', user=user) }}" class="button is-rounded is-info is-inverted delete-account" id="delete-account" aria-label="Delete account">Delete Account</a></div>
</div>