
<div class="card">
    <div class="card-content">
        <p class="title">
            {{ story.story_title }}
        </p>
        <p class="subtitle">
            Author: {{ story.Author }}
        </p>
        <p class="summary">
            {{ story.story_summary }}
        </p>
        <p class="summary">
        {# {{ add_content.add_content }} #}
        </p>
        <p class="subtitle">
        {# Author: {{ add_content.created_by }} #}
        </p>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                <a href=" {{ url_for('read_story', story_id=story._id) }} ">Read More</a>
            </span>
        </p>
    </footer>
</div>

