
<form method="POST" action="{{ url_for('add_content', user_id=user_id, story_id=story_id ) }}">
    <p class="title">{{ title }}</p>

    <div class="field">
        <label class="label">Type your story here</label>
        <div class="control">
            <textarea id="content" name="content" placeholder="Textarea" class="validate" minlength="20" maxlength="3000" required></textarea>
        </div>
    </div>

    <div class="field">
        <p class="control">
            <button type="submit" placeholder="Submit Content" class="button is-rounded is-info is-inverted mb-6" name="action" aria-label="Submit content">Submit Content
            </button>    
        </p>
    </div>
</form>

