
<form method="POST" action="{{ url_for('add_story', user_id=user_id ) }}">
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input id="story_title" name="story_title" type="text" placeholder="Story title" class="input" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Explain what the story could be about, so other people are enticed to contribute.</label>
        <div class="control">
            <textarea id="story_summary" name="story_summary" placeholder="Textarea" class="validate" minlength="20" maxlength="1000" required></textarea>
        </div>
    </div>

        <div class="field">
        <label class="label">Type your story here</label>
        <div class="control">
            <textarea id="story_content" name="story_content" placeholder="Textarea" class="validate" minlength="20" maxlength="3000" required></textarea>
        </div>
    </div>

    <div class="field">
        <p class="control">
            <button type="submit" placeholder="Submit Story" class="button is-rounded is-info is-inverted mb-6" name="action" aria-label="Submit story">Submit Story
            </button>    
        </p>
    </div>
</form>