{% if register == True %}
<form action="/register" method="POST">
{% else %}
<form action="/userauth" method="POST">
{% endif %}
    <div class="field">
        <label class="label" for="username">Username</label>
        <div class="control has-icons-left">
            <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{2,15}$" class="input" required
                title="Only letters (either case) and numbers. No special characters">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <p class="help">Only letters (either case) and numbers. No special characters</p>
        </div>
    </div>
    <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left">
            <input id="password" name="password" type="password" pattern="^[a-zA-Z0-9]{5,15}$" class="input" required
                title="6 or more characters">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
                <p class="help">Only letters (either case) and numbers, 6 or more characters</p>
        </div>
    </div>
    <div class="field">
        <label class="label">Confirm password</label>
        <div class="control has-icons-left">
            <input id="password1" name="password1" type="password" pattern="^[a-zA-Z0-9]{5,15}$" class="input" required
                title="6 or more characters">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            <p class="help">Only letters (either case) and numbers, 6 or more characters</p>
        </div>
    </div>
    <div class="field has-text-centered mb-6">
        <p class="control">
            <button type="submit" class="button is-rounded is-info is-inverted mb-6" name="action" aria-label="Log In button">
                {% if register == True %} Register {% else %} Log Me In {% endif %}
            </button>    
        </p>
    </div>
</form>
    <div class="columns ">
            <div class="column is-6 has-text-centered">
            {% if register == True %}
            <h4 class="title">Already have an account?</h4>
            {% else %}
            <h4 class="title"> Don't have an account yet?</h4>
            </div>
            {% endif %}
    </div>
    <div class="columns">
        <div class="column has-text-centered">
            {% if register == True %}
            <a href="{{ url_for('log_in') }}" class= "button is-rounded is-info is-inverted mb-6" >Click here to Log in</a>
            {% else %}
            <a href="{{ url_for('register') }}" class= "button is-rounded is-info is-inverted mb-6">Click here to register</a>
            {% endif %}
        </div>
        <div class="column has-text-centered">
            <a href="{{ url_for('home') }}" class= "button is-rounded is-info is-inverted mb-6">Back home</a>
        </div>
    </div>
</form>