<form action="{{ url_for('change_password', username=session['user']) }}" method="POST">
    <div class="field">
        <label class="label">New password</label>
        <div class="control has-icons-left">
            <input id="password" name="password" type="password" pattern="^[a-zA-Z0-9]{5,15}$" class="input is-rounded is-large" title="6 or more characters" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
                <p class="help">Only letters (either case) and numbers, 6 or more characters</p>
        </div>
    </div>
    <div class="field">
        <p class="control">
            <button type="submit" class="button is-rounded is-info is-inverted is-small-mobile mb-6 mr-4" name="action" aria-label="Change password">Change password</button>    
            <a href="{{url_for('home')}}" class="button is-rounded is-info is-inverted is-small-mobile" aria-label="Cancel">Cancel</a>
        </p>
    </div>
</form>