<form action="{{ url_for('change_password', username=session['user']) }}" method="POST">
    <div class="field">
        <label for="username">{{ session['user'] }}</label>
        <div class=" input control has-icons-left">
            <input id="username" name="username" value="{{ session['user'] }}" disabled>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <p class="help">Only letters (either case) and numbers. No special characters</p>
        </div>
    </div>

    <div class="field">
            <label class="label">New password</label>
            <div class="control has-icons-left">
                <input id="password" name="password" type="password" placeholder="New password" pattern="^[a-zA-Z0-9]{5,15}$" class="input" required
                    title="6 or more characters">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <p class="help">Only letters (either case) and numbers, 6 or more characters</p>
            </div>
        </div>

        <div class="field">
            <p class="control">
                <button type="submit" class="button is-rounded is-info is-inverted mb-6" name="action" aria-label="Change password">Change password</button>    
            </p>
        </div>
</form>