
<form method="POST" action="{{ url_for('delete_story', story_id=story._id) }}">
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input id="story_title" name="story_title" type="text" placeholder="Story title" class="input" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Explain what the story could be about, so other people are enticed to contribute.</label>
        <div class="control">
            <textarea class="textarea" id="story_summary" name="story_summary" placeholder="Minimum of 20 and maximum of 1000 characters" minlength="20" maxlength="1000" validate required></textarea>
        </div>
    </div>

        <div class="field">
        <label class="label">Type your story here</label>
        <div class="control">
            <textarea class="textarea" id="story_content" name="story_content" placeholder="Minimum of 20 and maximum of 3000 characters" minlength="20" maxlength="3000" validate required></textarea>
        </div>
    </div>

    <div class="field has-text-centered mt-2">
        <p class="control">
            <button type="submit" placeholder="Edit story" class="button is-rounded is-info is-inverted mb-6" name="action" aria-label="Edit story">Edit Story
            </button>    
        </p>
    </div>
</form>