{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/heronavbar.html' %}
    {% if register == True %}
    <div class="container mt-6">
        <div class="columns is-centered">
            <div class="column is-half mb-2">
                <p class="page-title mb-6">
                    Register here to start your personal story telling journey!
                </p>
                {% include 'components/toasts/flashmessages.html' %}
                {% include 'components/forms/authentication.html' %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container mt-6">
        <div class="columns is-centered">
            <div class="column is-half mb-2">
                <p class="page-title mb-4">
                    Log In
                </p>
                {% include 'components/toasts/flashmessages.html' %}
                {% include 'components/forms/authentication.html' %}
            </div>
        </div>
    </div>
    {% endif %}
{% include 'components/footer/footer.html' %}
{% endblock %}