{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/basic_navigation.html' %}

    {% if register == True %}

    <div class="container is-fluid mt-6">
        <div class="columns mt-6" id="register">
            <div class="column"></div>
            <div class="column is-8">
                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            Register here to start your personal story telling journey!
                        </p>
                        {% include 'components/flash_messages/flash_messages.html' %}
                    </div>
                    {% include 'components/forms/authentication.html' %}
                </div>
            </div>  
            <div class="column"></div>
        </div>
    </div>

    {% else %}

    <div class="container is-fluid mt-6">
        <div class="columns mt-6" id="log-in">
            <div class="column"></div>
            <div class="column is-8">
                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            Log in
                        </p>
                        {% include 'components/flash_messages/flash_messages.html' %}
                    </div>
                    {% include 'components/forms/authentication.html' %}
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>

    {% endif %}
{% endblock %}