{% extends 'layout/base.html' %}
{% block content %}
<section class="hero error is-fullheight">
    <div class="hero-body">
        <div class="container mb-6">
            <h1 class="error-title">
                Oh no... 404 
            </h1>
            <h2 class="error-subtitle">
                This is not the page you were looking for!
            </h2>
            <h2 class="error-subtitle">
                (I find your lack of navigation disturbing... <i class="far fa-kiss-wink-heart"></i> )
            </h2>
            <div class="home-button mt-6">
            <a href="{{ url_for('home') }}" class= "button is-rounded is-info is-inverted mb-6">TAKE ME BACK!</a>
            </div>  
    </div>
        </div>
</section>


<section class="hero error is-fullheight">
    <div class="hero-body">
        <div class="container mb-6">
            <h1 class="error-title">
                Oh no...500 
            </h1>
            <h2 class="error-subtitle">
                Congratulations, you did it!
            </h2>
            <h2 class="error-subtitle">
                You broke the site! <i class="far fa-kiss-wink-heart"></i> )
            </h2>
            <div class="home-button mt-6">
            <a href="{{ url_for('home') }}" class= "button is-rounded is-info is-inverted mb-6">TAKE ME BACK!</a>
            </div>  
    </div>
        </div>
</section>


<section class="hero error is-fullheight">
    <div class="hero-body">
        <div class="container mb-6">
            <h1 class="error-title">
                Oh no...500 
            </h1>
            <h2 class="error-subtitle">
                Congratulations, you did it!
            </h2>
            <h2 class="error-subtitle">
                You broke the site! <i class="far fa-kiss-wink-heart"></i> )
            </h2>
            <div class="home-button mt-6">
            <a href="{{ url_for('home') }}" class= "button is-rounded is-info is-inverted mb-6">TAKE ME BACK!</a>
            </div>  
    </div>
        </div>
</section>


<section class="hero error is-fullheight">
    <div class="hero-body">
        <div class="container mb-6">
            <h1 class="error-title">
                Oh no...500 
            </h1>
            <h2 class="error-subtitle">
                Congratulations, you did it!
            </h2>
            <h2 class="error-subtitle">
                You broke the site! <i class="far fa-kiss-wink-heart"></i> )
            </h2>
            <div class="home-button mt-6">
            <a href="{{ url_for('home') }}" class= "button is-rounded is-info is-inverted mb-6">TAKE ME BACK!</a>
            </div>  
        </div>
    </div>
</section>
{% endblock %}