{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/heronavbar.html' %}
{% include 'components/toasts/flashmessages.html' %}
<div class="container">
    <div class="columns mb-6 mt-6">
        <div class="column is-centered">
            <p class="title mt-6"> How does this work?</p>
            <p class="about"> I have always loved to read and write stories and grabbed this opportunity to allow other people to write
                stories as well, for other people to enjoy! So go ahead, the sky is the limit!</p><br>
            <p class="about-title"> This is the deal:</p>
                <div class="content is-normal about">
                    <ul>
                        <li>Start your own story</li>
                        <li>Make sure you are logged in</li>
                        <li>Click "Add" in the menu or in your profile</li>
                        <li>Add your story, click the "Add Story" button and you're done!</li>
                    </ul>
                    <p class="about-title"> Now the waiting starts... How will the story unfold?</p>
                </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-full">
            <div class="story-header mt-4 mb-4">Stories</div>
        </div>
    </div>
    <div class="columns is-centered">
            <div class="column is-full">
                {% for story in stories %}
                {% include 'components/cards/featurestorycard.html' %}
            {% endfor %}
            </div>
    </div>
</div>
{% include 'components/footer/footer.html' %}
{% endblock %}