{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/heronavbar.html' %}
{% include 'components/toasts/flashmessages.html' %}
<div class="container">
    <div class="columns is-centered mb-6 mt-6 ml-6 mr-6">
        <div class="column about-box">
            <p class="title mt-6"> How does this work?</p>
            <p class="about has-text-centered"> Writing stories can be fun. But writing stories with total strangers is way better!</p><br>
                        <p class="title"> This is the deal:</p>
                <div class="content about">
                    <ol type="1">
                    <li>Find a story and add to it.<br> Make sure you are logged in (or register to join the fun!), scroll to the bottom of the story, click "Chain" and write away!</li>
                    <li>Start your own story. <br> Make sure you are logged in, click "Add" in the menu, add your story, click the "Add" button and you're done!</li>
                    </ol>
                        <p class="title mb-4"> Now the waiting starts... How will the story unfold?</p>
                </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-full">
            <div class="story-header mt-4 mb-4">Stories</div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-full">
            {% for story in stories %}
                {% include 'components/cards/featurestorycard.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% include 'components/footer/footer.html' %}
{% endblock %}