{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/basic_navigation.html' %}
<div class="container is-fluid" id="about">
      <p class="title mt-6"> How does this work?</p>
      <p id="about-text"> Writing stories can be fun. But writing stories with total strangers is way better!</p><br>
      <p class="sub-heading"> This is the deal:</p>
      <div class="content">
          <ol type="1">
            <li>Find a story.<br> Make sure you are logged in (or register to join the fun!), scroll to the bottom of the story and write away!</li>
            <li>Start your own story. <br> Make sure you are logged in, click "add" in the menu, add your piece of the story, click the "Add" button and you're done!</li>
          </ol>
        <p id="teaser=text"> Now the waiting starts... How will the story unfold?</p>
  </div>
{% endblock %}