{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/hero_navbar.html' %}
    <div class="columns">
        <div class="column is-full" id="profile">
            <p class="page-title">Profile</p>
        <div class="column is-full is-flex is-horizontal-center" id="profile_image">
            <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            </div>
        </div>
    </div>
<div class="profile-story-header" mt-4 mb-4>Stories you have written:</div>
{% for story in stories %}
    {% if (session.user|lower == story.Author|lower or session.user|lower == "admin"|lower) %}
    {% include 'components/cards/feature_storycard.html' %}
    {% endif %}
{% endfor %}
<div class="profile-story-header" mt-4 mb-4>Stories you have contributed to:</div>

<!-- contentcard-->
<div class="profile-story-header" mt-4 mb-4>Account Settings:</div>
{% include 'components/partials/account_settings.html' %}
{% include 'components/footer/footer.html' %}
{% endblock %}
