{% extends 'layout/base.html' %}
{% block content %}
    <div class="columns">
        <div class="column"></div>
        <div class="column is-8">
            <p class="page-title">Profile</p>
        </div>
        <div class="column"></div>
    </div>

{% include 'components/partials/account_settings.html' %}

{% for story in stories %}
{% if (session.user|lower == story.Author|lower or session.user|lower == "admin"|lower) %}
<div class="profile-story-header" mt-4 mb-4>Stories you have written:</div>
    {% include 'components/partials/feature_storycard.html' %}

{% endif %}
{% endfor %}
<div class="profile-story-header" mt-4 mb-4>Stories you have contributed to:</div>
<!-- contentcard-->
{% endblock %}
