{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/heronavbar.html' %}
{% include 'components/toasts/flashmessages.html' %}
    <div class="columns">
        <div class="column"></div>
        <div class="column is-8">
            <p class="page-title">Profile</p>
        </div>
        <div class="column"></div>
    </div>

    <div class="columns mt-6 mb-6">
        <div class="column"></div>
        <div class="column is-4">
            <div class="card">
                <div class="card-content has-text-centered">
                    <p class="title">
                        Add a story and it will be displayed here
                    </p>
                    <a href="{{url_for('add_story', user_id=user_id)}}" class="button is-rounded is-info is-inverted" aria-label="Add story">Add</a>
                </div>
            </div>
        </div>
        <div class="column"></div>
        <div class="column is-6">
            <div class="card">
                <div class="card-content has-text-centered is-align-content-space-evenly">
                    <p class="title">
                        Account settings
                    </p>
                    <a href="{{ url_for('change_password', username=session['user']) }}" class="button is-rounded is-info is-inverted
                    mb-4" id="change-password" aria-label="Change your password">Change Password</a>
                    <a href="{{ url_for('change_username', username=session['user']) }}" class="button is-rounded is-info is-inverted mb-4" id="change-username" aria-label="Change your username">Change Username</a>
                    <div class="button is-rounded is-info is-inverted delete_account" data-modal-type="type2" aria-label="Delete my account">Delete account</div>
                        {% include 'components/modals/modals.html' %}
                </div>
            </div>
        </div>
    <div class="column"></div>
    </div>
    
{% for story in stories %}
{% if (session.user|lower == story.Author) %}
    <div class="columns">
        <div class="column"></div>
        <div class="column is-4">
            <div class="card">
                <div class="card-content has-text-centered">
                    <p class="title">
                        Stories you have added
                    </p>
                </div>
            </div>
        <div class="column">
            {% include 'components/cards/featurestorycard.html' %}
        </div>
        </div>
        <div class="column"></div>
    </div>
{% endif %}
{% endfor %}
{% include 'components/footer/footer.html' %}
{% endblock %}