{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/heronavbar.html' %}
<div class="columns is-centered">
    <div class="column is-three-fifths mt-4">
        <p class="page-title">
        Read Story
        </p>
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-three-fifths">
        {% include 'components/toasts/flashmessages.html' %}
        {% include 'components/cards/fullstorycard.html' %}
    </div>
</div>
{% if (session.user == story.author or session.user == "admin") %}
<div class="columns is-centered mt-6">
    <div class="column is-2 has-text-centered">
        <span><a href="{{ url_for('edit_story', story_id=story._id, user_id=user_id) }}" class="button is-rounded is-info is-inverted mr-4" aria-label="Edit story">Edit story</a>
        </span>
        <div class="button is-rounded is-info is-inverted" data-modal-type="type1" aria-label="Delete">Delete</div>
        {% include 'components/modals/modals.html' %}
    </div>
</div>
{% else %}
<div class="columns is-centered mt-6 mb-6">
    <div class="column is-three-fifths">
        <p class="title">
            Want to join the fun? Log in now or register
        </p>
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-2 has-text-centered">
        <a href="{{ url_for('log_in') }}" class= "button is-rounded is-info is-inverted mb-6" >Log In</a>
    </div>
    <div class="column is-2 has-text-centered mr-4">
    <a href="{{ url_for('register') }}" class= "button is-rounded is-info is-inverted mb-6">Register</a>
    </div>
    <div class="column is-2 has-text-centered">
    <a href="{{ url_for('home') }}" class= "button is-rounded is-info is-inverted mb-6">Back Home</a>
    </div>
</div>
{% endif %}
{% include 'components/footer/footer.html' %}
{% endblock %}