{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/basic_navigation.html' %}
<div class="container is-fluid mt-6">
    <div class="columns mt-6" id="register-form">
        <div class="column is-4">
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        “Title: .”
                    </p>
                    <p class="subtitle">
                        Author:
                    </p>
                    <p class="summary">
                        Summary of story
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            <a href="/">Read More</a>
                        </span>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>            


{% endblock %}