{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/basic_navigation.html' %}
<div class="container is-fluid mt-6">
    <div class="columns mt-6" id="register-form">
        <div class="column"></div>
        <div class="column is-8">
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        Registration
                    </p>
                    <p class="subtitle mt-3">
                        “We are so happy you decided to join us!”
                    </p>
                    <p class="summary">
                        Please enter the desired username:
                    </p>
                    <p class="summary">
                        Please enter a password:
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            <a href="/">Sign me up!</a>
                        </span>
                    </p>
                </footer>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>            


{% endblock %}