{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/hero_navbar.html' %}
{% if story==True %}
<div class="columns mt-6" id="add_story">
    <div class="column"></div>
    <div class="column is-8">
        <div class="card">
            <div class="card-content">
                <p class="page-title">
                    Add a new story
                </p>
            </div>
            {% include 'components/forms/add_story.html' %}
        </div>
    </div>  
    <div class="column"></div>
</div>
{% else %}
    {% if (session.user|lower == story.Author|lower or session.user|lower == "admin"|lower) %}
    <p class="page-title">Edit Story</p>
    <div class="columns">
            <div class="column"></div>
            <div class="column is-4">
    {% include 'components/forms/edit_story.html' %}
            </div>
            <div class="column"></div>
    </div>
    {% endif %}
{% endif %}
{% include 'components/footer/footer.html' %}
{% endblock %}