{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/heronavbar.html' %}
{% if story==True %}
<p class="page-title mt-6">Add Story</p>
    <div class="columns is-centered">
            <div class="column is-half">
            {% include 'components/toasts/flashmessages.html' %}
            {% include 'components/forms/addstory.html' %}
        </div>
    </div>
{% else %}
    {% if (session.user|lower == story.Author|lower) %}
    <p class="page-title mt-6">Edit Story</p>
    <div class="columns is-centered">
            <div class="column is-half">
                {% include 'components/toasts/flashmessages.html' %}
                {% include 'components/forms/editstory.html' %}
            </div>
    </div>
    {% endif %}
{% endif %}
{% include 'components/footer/footer.html' %}
{% endblock %}