/* Google font import link */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@200;500&display=swap');


html {
    font-size: 62.5%;
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: #f8f8ff;
    overflow-x: hidden;
}
/* Navbar styling */
.navbar-item img {
    max-height: 5.75rem;
}

.hero.is-info,
.hero.is-info a.navbar-item.is-active,
.hero.is-info a.navbar-item:hover,
.hero.is-info .navbar-item   {
    color: #bc5609;
    background-color: transparent;
}
.hero.is-info {
    background-image: url("../../../static/images/hero-header.jpg");
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero .navbar {
    background: rgba(248, 248, 255, 0.7);
}

.button {
    font-size: 2rem;;
}
.button.is-info.is-inverted {
    background-color: #5f2121;
    color: #f8f8ff;

}

.column {
    text-align: center;
}

/* About */
.title {
    color:#bc5609;
    text-align: center;
    font-size: 3rem;
    font-family: 'Indie Flower', cursive;
}

#about {
    color: #000;
    text-align: center;
}

.sub-heading {
    font-size: 2.5rem;
    color: #bc5609;
    font-family: 'Indie Flower', cursive;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.content ol {
    list-style-position: inside;
}

@media screen and (max-width: 1023px) {
.hero.is-info .navbar-menu {
    background-color: rgba(248, 248, 255, 0.7);
} }