<section class="hero is-info is-large">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="../../../static/images/story-chain-logo.jpg" alt="logo">
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{url_for('home')}}" class="navbar-item is-active">
                            Home
                        </a>
                        <a href="{{url_for('profile', username=username)}}" class="navbar-item">
                            Profile
                        </a>
                        <span class="navbar-item">
                            <a href="{{url_for('log_out')}}" class="button is-rounded is-info is-inverted">
                                Log Out
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>