<section class="hero is-info is-large">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="{{url_for('home')}}" class="navbar-item">
                        <img src="../../../static/images/story-chain-logo.jpg"  alt="logo">
                    </a>
                    <!-- Mobile navigation -->
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <!-- Desktop navigation -->
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{url_for('home')}}" class="navbar-item">Home</a>
                        {% if session.user %}
                        <a href="{{url_for('profile', user=session.user, user_id=username )}}"  class="navbar-item {% if 'profile' in request.path %} active {% endif %}">Profile ( {{ session.user }} )</a>
                        <a href="{{url_for('add_story', user=session.user, user_id=username)}}" class="navbar-item">Add</a>
                        <span class="navbar-item">
                            <a href="{{url_for('log_out')}}" class="button is-rounded is-info is-inverted" aria-label="Log out">Log Out</a>
                        </span>
                        {% else %}
                        <a href="{{url_for('register')}}" class="navbar-item {% if 'register' in request.path %} active {% endif %}">Register</a>
                        <span class="navbar-item">
                            <a href="{{url_for('log_in')}}" class="button is-rounded is-info is-inverted {% if 'login' in request.path %} active {% endif %}" aria-label="Log In">Log In</a>
                        </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
    {% if not session.user %}
    <div class="columns">
        <div class="column"></div>
            <div class="column mb-6" id="join-button">
                <a class="button is-rounded button is-info is-inverted" href="{{url_for('register')}}" role="button" rel="noopener" aria-label="Join Us button">Join Us!</a>
            </div>
            <div class="column"></div>
    </div>
    {% endif %}
</section>